
body
{
  background-color:#fcdada;
}

hr
 {
  border-style: none;
  border-top-style: solid;
  border-color: #FFA5A5;
  border-width: 2px;
  width: 100%;
}

h2
{
  color: #E6739F;
}

h3
{
color: #E6739F;
}
